fastapi
uvicorn
python-multipart
pydantic
python-dotenv
requests
google-generativeai
langchain
langchain-google-genai
boto3
pillow
aiobotocore
langgraph
langchain-core
langchain-aws
sqlalchemy
asyncpg
passlib[bcrypt]
python-jose[cryptography]
python-multipart
aiosqlite
email-validator
greenlet
bcrypt==3.2.2
